.home-content-background {
  width: 100vw;
  background-color: #333333;
}
.home-content-container {
  display: grid;
  min-height: 100%;
  padding-block-start: 2rem;
}
.home-content-title{
  color: #F9A602;
}
.home-content-cards-container{
  display: flex;
  overflow-x: scroll;
  gap: 2rem;
  padding-block-end: 2rem;
}